<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <TestRunParameters>
    <Parameter name="BaseUrl" value="https://athletictrainers.inloop.com" />
    <Parameter name="tag_list4" value="//ul[@class='tag-list clearfix ng-scope']//a[@class='ng-binding'][contains(text(),'NATA')]" />
    <Parameter name="tag_list3" value="//ul[@class='tag-list clearfix ng-scope']//a[@class='ng-binding'][contains(text(),'Injuries')]" />
    <Parameter name="tag_list2" value="//li[@class='ng-scope']//a[@class='ng-binding'][contains(text(),'Head Athletic Trainers')]" />
    <Parameter name="tag_list1" value="//li[@class='ng-scope']//a[@class='ng-binding'][contains(text(),'Concussions')]" />
    <Parameter name="tag_list5" value="//ul[@class='tag-list clearfix ng-scope']//a[@class='ng-binding'][contains(text(),'Pain Relief')]" />
    <Parameter name="tag_list6" value="//a[contains(text(),'Range Of Motion')]" />
    <Parameter name="tag_list7" value="//a[contains(text(),'Rehabilitation')]" />
    <Parameter name="tag_list8" value="//a[contains(text(),'Strength Training')]" />
    <Parameter name="tag_assert1" value="entity/7/5" />
    <Parameter name="tag_assert2" value="entity/17/5" />
    <Parameter name="tag_assert3" value="entity/3/5" />
    <Parameter name="tag_assert4" value="entity/152/5" />
    <Parameter name="tag_assert5" value="entity/368/5" />
    <Parameter name="tag_assert6" value="entity/16/5" />
    <Parameter name="tag_assert7" value="entity/52/5" />
    <Parameter name="tag_assert8" value="entity/126/5" />
  </TestRunParameters>
</RunSettings>

